<div class="container">
  <div class="row">
        <div class="box caixao">
                <h1 style="text-align: center">Serviços<br><br></h1>
                <div class="livrosbox">
                    <img src="src/app/home/img/g1.gif" width="30%">  
                    <img src="src/app/home/img/g2.gif" width="30%">  
                    <img src="src/app/home/img/g3.gif" width="30%">
           </div>
           <div class="primeiraletra">A</div><div class="textohome"> nossa livraria virtual fornece aos usuários diversos tipos de livros para download, caso o usuário queira um livro que nao está disponível no momento, basta enviar um e-mail com a solicitação e a mesma será avaliada. </div>
        </div>
  </div>

 
</div>