<div class="container">
    <div class="row">
        <div class="box">
          <div class="table-responsive">
            <div>
              <a *ngIf="authService.isAdm()" class="btn btn-primary" routerLink="novo">Novo Livro</a>
              
                <button (click)="downloadRelatatorioLivro(mesInico, mesFinal)">Relatório dos Livros</button>

                <button (click)="downloadRelatatorioUsuario(mesInico, mesFinal)">Relatório dos usuários</button>

            </div>
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Livro</th>
                    <th>Autor</th>
                    <th *ngIf="authService.isAdm()">Deletar</th>
                    <th>Donwload</th>
                  </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let livro of livros">
                    <td>
                      
                    </td>
                    <td>
                      <a *ngIf="authService.isAdm()" [routerLink]="['edit',livro.id]">{{ livro.nome }}</a>
                      <a *ngIf="!authService.isAdm()">{{ livro.nome }}</a>
                    </td>
                    <td>
                      {{ livro.autor }}
                    </td>
                    <td *ngIf="authService.isAdm()" class="btn-group">
                      <button class="btn btn-danger" (click)="removeLivro(livro.id)">x</button>
                    </td>
                    <td class="btn-group">
                        <button class="btn" (click)="baixaLivro(livro)">Download</button>
                    </td>
                   
                </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>DISPONÍVEIS PARA VOCÊ</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8">
                  <input type="radio" class="slide-controller" name="slide" checked /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
              <div class="slide-show" > 
                  <ul class="slides-list" >
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=8" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=0" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=6" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=1" />
                    </li>
                  </ul>
                </div>
            <div class="col-md-6">
                <p>Nesta página você terá acesso ao seu acervo digital de livros que disponibilizamos para você. Você pode vizualizar a lista e baixar o livro de seu interesse. Todos os livros disponíveis estarão livres para download por tempo indeterminado e podem ser baixados quantas vezes você quiser. Para sugestões de livros ou sugestões sobre o layout e funcionamento do site entre em contato conosco por e-mail ou como e com  quem preferir na página de contatos.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>FAVORITOS</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img 
                src="src/app/header/img/matos.jpg">
                <h3>Gregório de Matos<br>
                    <small>Reunião de Poemas</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img 
                src="src/app/header/img/anos.jpg">
                <h3>Alvarez de Azevedo<br>
                    <small>Lira dos Vinte Anos</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img 
                src="src/app/header/img/guarani.jpg">
                <h3>José de Alencar<br>
                    <small>O Guarani</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>


