<div class="container">
    <div class="row">
        <div class="box">
          <div class="table-responsive">
            <div>
              <a *ngIf="authService.isAdm()" class="btn btn-primary" routerLink="novo">Novo Livro</a>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Livro</th>
                    <th>Autor</th>
                    <th *ngIf="authService.isAdm()">Deletar</th>
                    <th>Donwload</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let livro of livros">
                    <td>
                      
                    </td>
                    <td>
                      <a *ngIf="authService.isAdm()" [routerLink]="['edit',livro.id]">{{ livro.nome }}</a>
                      <a *ngIf="!authService.isAdm()">{{ livro.nome }}</a>
                    </td>
                    <td>
                      {{ livro.autor }}
                    </td>
                    <td *ngIf="authService.isAdm()" class="btn-group">
                      <button class="btn btn-danger" (click)="removeLivro(livro.id)">x</button>
                    </td>
                    <td class="btn-group">
                        
                        <button class="btn" (click)="baixaLivro(livro)">Download</button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>DISOINÍVEIS PARA VOCÊ</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                  <input type="radio" class="slide-controller" name="slide" checked /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
                  <input type="radio" class="slide-controller" name="slide" /> 
              <div class="slide-show" > 
                  <ul class="slides-list" >
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=8" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=0" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=6" />
                    </li>
                    <li class="slide" >
                      <img src="https://picsum.photos/300/300?image=1" />
                    </li>
                  </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p>This is a great place to introduce your company or project and describe what you do.</p>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis
                    fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>FAVORITOS</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>


