<div class="container">
  <div class="row">
        <div class="box caixao">
                <h1 style="text-align: center">Contatos<br><br></h1>
                <div class="livrosbox">
                    <img src="src/app/home/img/g1.gif" width="30%">  
                    <img src="src/app/home/img/g2.gif" width="30%">  
                    <img src="src/app/home/img/g3.gif" width="30%">
           </div>
           <div class="primeiraletra">C</div><div class="textohome">aso queira entrar em contato  para sugestões, duvidas ou demais assuntos com a equipe desenvolvedora do site, envie e-mail para <b>contato@livraria.com.br</b></div>
        </div>
  </div>

</div>