<div class="container">
  <div class="row">
      <div class="box caixao">
          <h1 style="text-align: center">Bem-vindo a Home!</h1>
          <div class="livrosbox">
              <img src="src/app/home/img/g1.gif" width="30%">  
              <img src="src/app/home/img/g2.gif" width="30%">  
              <img src="src/app/home/img/g3.gif" width="30%">
     </div>
     <div class="textohome">Loddddrem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus sit amet lorem scelerisque aliquet. Sed est mauris, feugiat placerat vehicula viverra, eleifend in dui. Vivamus bibendum eros blandit sem bibendum efficitur. Pellentesque vel nulla tincidunt, sollicitudin justo ultricies, consequat nulla. Vivamus convallis placerat interdum. Nunc vulputate rhoncus auctor. Aliquam hendrerit massa purus, id placerat lectus porta sit amet. Morbi ut augue eu elit facilisis ultrices. Fusce mi metus, convallis eu laoreet vehicula, vulputate ac libero.

            Phasellus maximus tincidunt ultrices. Pellentesque id sem at quam rutrum cursus. Donec feugiat viverra metus vel dictum. Quisque eu orci tortor. Aliquam eros nunc, sodales at libero at, tristique luctus dolor. Suspendisse egestas massa neque, vitae bibendum ipsum bibendum non. Duis diam est, sodales ac tortor eu, sagittis dignissim tellus. Ut lectus diam, congue eu elit in, tincidunt aliquet nisi. Quisque malesuada laoreet sapien, sed consectetur odio sagittis non. Sed tincidunt commodo augue, at vulputate augue. Vivamus magna mauris, iaculis id tellus in, accumsan sollicitudin ante. Suspendisse congue imperdiet nisl eu elementum. Pellentesque malesuada varius metus, eu sollicitudin magna ornare at. Morbi urna urna, fermentum quis molestie sed, sollicitudin nec augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            
            Aliquam tortor erat, euismod vitae bibendum eu, rhoncus sit amet augue. Morbi bibendum elit nulla, nec tristique lacus egestas vel. Nunc ut felis sit amet nisi pretium scelerisque. Vivamus nunc metus, ornare ut sem eget, sagittis ultrices tellus. Sed quis interdum urna. Integer auctor molestie velit. Vestibulum ex augue, dignissim vehicula lorem sit amet, varius malesuada sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sodales sodales neque, nec egestas massa. Nam aliquet in nisl id sodales. Nam ipsum diam, bibendum a sollicitudin vitae, euismod ut urna.
            
            Mauris finibus sit amet ipsum vel mollis. Cras vitae orci lobortis, pretium massa et, porta felis. Sed vel lacinia nulla. Nunc ut placerat metus. Praesent venenatis at nisi nec dictum. Ut rutrum maximus elit et dignissim. Nam at felis suscipit, commodo purus et, aliquam nulla. Vivamus laoreet at erat quis vulputate. Suspendisse ullamcorper eros non nibh scelerisque, sit amet gravida elit fermentum. Vivamus neque nunc, tristique interdum enim sed, molestie euismod nisl. Vestibulum tincidunt ultrices scelerisque. Integer molestie orci non ipsum vulputate, id mollis nisl lacinia. Fusce eu nunc nibh. Quisque sed urna ullamcorper, egestas massa sit amet, maximus lorem. Nunc tempor egestas pellentesque. Duis vel congue justo.
            
            Etiam sed iaculis nisl, et maximus elit. Vestibulum ultricies sollicitudin dolor eget convallis. Suspendisse et dapibus neque, quis pellentesque nisl. Quisque malesuada facilisis felis, ut laoreet odio interdum ut. Maecenas eu nisi posuere, commodo lectus venenatis, pretium enim. Suspendisse id libero sem. Etiam nec elementum purus, quis ultricies eros. Cras cursus pretium auctor. Fusce maximus urna ex, at ultrices enim aliquet nec. Mauris rhoncus hendrerit vehicula. Integer non orci felis. Integer a velit nunc. Phasellus tempus lectus nisi, id porttitor arcu egestas sit amet.</div>
        </div>
  </div>
  <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>MAIS BAIXADOS</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>