<div class="container">
  <div class="row">
      <div class="box caixao">
          <h1 style="text-align: center">Bem-vindo a Home!<br><br></h1>
          <div class="livrosbox">
              <img src="src/app/home/img/g1.gif" width="30%">  
              <img src="src/app/home/img/g2.gif" width="30%">  
              <img src="src/app/home/img/g3.gif" width="30%">
     </div>
     <div class="primeiraletra">A</div><div class="textohome">livraria web do estudante foi feita de aluno para aluno com o intuito de ser sua livraria pessoal. Sendo assim, cada esrudante cadastrado poderá ter sua biblioteca virtual e pessoal, mantendo seus livros e materiais de estudo em um só lugar. Após o cadastro não existem limites para a dimensão da sua estante virtual, basta usufruir dos livros que temos disponíveis ou adicionar seus livros à sua estante virtual. Cadastre-se e tenha acesso ao método mais prático e seguro de conhecer novos livros e guardar seus livros virtuais!</div>
  </div>
  <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">LIVROS
                    <strong>MAIS BAIXADOS</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>